!!!
%html
  %head
    %title= @page.head[:seo_title]
    %title{name: "Description", content: "#{ @page.head[:seo_description] }"}
    %title{name: "Keyboards", content: "#{ @page.head[:seo_keywords] }"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield
